@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="authentication-inner py-5">
    <!-- Form -->
    <div class="card">
        <div class="p-4 p-sm-5">
            <div class="display-1 lnr lnr-checkmark-circle text-center text-success mb-4"></div>
            <p class="text-center text-big mb-4">Please check your email to reset your password.</p>
            <a asp-page="/Index"><button type="button" class="btn btn-primary btn-block">Return to homepage</button></a>
        </div>
    </div>
    <!-- / Form -->
</div>

