@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4">
        Account settings
    </h4>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <partial name="_ManageNav" />
            <div class="col-md-9">
                <div class="tab-content">
                    @RenderBody()
                </div>
            </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
