  .default-style .sidenav .app-brand {
    height: 57px;
  }
  
  .app-brand-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .app-brand-logo svg {
    width: 20px;
    height: 11px;
  }
  
  .app-brand-text {
    font-size: 1.1rem;
  }
  
  
  @media (min-width: 992px) {
    .layout-offcanvas .layout-sidenav .layout-sidenav-toggle,
    .layout-fixed-offcanvas .layout-sidenav .layout-sidenav-toggle {
      display: none;
    }
  }
  
  /* *****************************************************************************
   * Navbar
   */
  
  .navbar-messages .dropdown-toggle,
  .navbar-notifications .dropdown-toggle,
  .navbar-user .dropdown-toggle,
  .navbar-messages.b-nav-dropdown .nav-link,
  .navbar-notifications.b-nav-dropdown .nav-link,
  .navbar-user.b-nav-dropdown .nav-link {
    white-space: nowrap;
  }
  
  .navbar-messages .dropdown-menu,
  .navbar-notifications .dropdown-menu {
    overflow: hidden;
    padding: 0;
  }
  
  @media (min-width: 992px) {
    .navbar-messages .dropdown-menu,
    .navbar-notifications .dropdown-menu {
      margin-top: .5rem;
      width: 22rem;
    }
  
    .navbar-user .dropdown-menu {
      margin-top: .25rem;
    }
  }
